body{

}
/*body.p-inicio .a-inicio,
body.p-admision .a-admision,
body.p-contacto .a-contacto,
body.p-institucion .a-institucion,
body.p-propuesta .a-propuesta {
  background: #A62822;
  
}*/
#navegacion
{
	list-style: none;
}
.search-form
{
	position: absolute;
	right: 1rem;
	top: 14px;
	font-weight: bold;
	font-size: 15px;
}
#as{
	color: yellow;
}
/*Barra Lateral Izquierdo*/
.article-wrap {
	width: 25%;
}

.blogpost {
	padding: 0;
}
/*Titulo de los article -de las categorias*/
.entry-title
{
	margin: 0;
	font-size: 20px;
	background-color: #00b09b;
	height: 40px;	
	line-height: 40px;
	padding-left: 10px;
}
.entry-title a{
	color: white;
}
.entry-content
{	
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
}

/*Todo el contenido*/
.main-wrap {
	max-width: 1400px;
}

.nav-wrap {
	background-color: #ff6f68;
	border-bottom: 5px solid #A62822;
}

/*Barra Lateral Derecha*/
.sidebar-wrap
{
	border: green solid 2px;
	width: 70%;
}

.nav-wrap {
}
.site-header nav ul li a:hover {
}
@media screen and (max-width: 1000px) {
	.header-image-container a img
	{
		height: 300px;
	}
}